@import "~sass-rem";
$rem-baseline: 100px;

:global {
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(50px);
    line-height: rem(50px);
    text-align: center;
  	color: #d3d3d3;
  	font-size: 12px;
    font-style: italic;

    p {
      margin-top: 0;
    }
  }
}
