$rem-baseline: 100px;

@import "~normalize.css";
@import "~sass-rem";
@import './common/scss/_variable.scss';
@import "./common/scss/iphonex.scss";
@import './common/scss/_button.scss';

@svg 1px-border {
  @rect {
    fill: var(--color, #ddd);
    width: 100%;
    height: 100%;
  }
}

:global {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

	html, body, #root {
    max-width: 750px;
		height: 100%;
    margin: 0 auto;
    font-size: 10px;
    box-sizing: border-box;
	}

  input {
    width: 100%;
    height: rem(44px);
    line-height: rem(24px);
    border: 1px solid #e5e5e5;
    border-radius: rem(4px);
    font-size: 14px;
    padding: rem(8px);
    appearance: none;
  }

  button {
    height: rem(44px);
    border: 1px solid #e5e5e5;
    padding: rem(6px) rem(12px);
    background-color: transparent;
    border-radius: rem(6px);
    font-size: 14px;
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #323232;
    text-decoration: none;
  }

  .one-pixel-border {
    border: 1px solid #eee;
    border-image: svg(1px-border) 1 1 stretch;
  }

  .gray {
    color: #808080;
  }

  .light-gray {
    color: #d3d3d3;
  }
}
