@import "~sass-rem";
$rem-baseline: 100px;

:global {
  .footer {
    height: rem(50px);
    line-height: rem(50px);
  	color: #a8a8a8;
  	font-size: 12px;
    font-style: italic;

    p {
      margin-top: 0;
    }
  }
}
