@import "~sass-rem";
$rem-baseline: 100px;

.cart {
  button.cart-btn {
    width: rem(24px);
    height: rem(24px);
    line-height: rem(24px);
    padding: 0;
    border: none;
  }

  input {
    width: rem(40px) !important;
    height: rem(24px);
    padding: 0;
    text-align: center;
    vertical-align: middle;
    box-shadow: none;

    &[disabled] {
      background-color: #fff;
      opacity: 1;
    }
  }
}
