@import "~sass-rem";
$rem-baseline: 100px;

.toast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff74b9;
  color: #fff;
  padding: rem(10px 14px);
  border-radius: rem(6px);
  font-size: 14px;
}
