@import "~sass-rem";
$rem-baseline: 100px;

.login-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
  height: 100%;

	.main {
    width: rem(250px);
    flex: 1;
    margin: rem(30px) auto 0;

    .row {
      margin-bottom: rem(15px);
    }

		input {
      width: 100%;
			border: 1px solid #e5e5e5;
		}

    .login-btn {
      width: 100%;
    }
	}
}
